<h1>V | V</h1>

<p>
	<a href="/videos/new">add vimeo video</a>
</p>

<ul>
	<% @videos.each do |video| %>
		<li>
			<a href="/videos/<%= video['id'] %>">
				<%= video['title'] %>

			</a>
		</li>
	<% end %>
</ul>