<!DOCTYPE html>
<html>
<head>
	<title>Memetube App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav>
			<li><a href="/videos">Video List</a></li>
	
		</nav>
	<%= yield %>
</body>
</html>