<h1>Create Video</h1>

<form action="/videos" method="POST" >
	<input type="varchar" name="title" placeholder="title" autofocus>
	<input type="text" name="description" placeholder="description">
	<input type="varchar" name="url" placeholder="url">
	<input type="varchar" name="genre" placeholder="genre">
	<button>Add Video</button>
</form>